﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VueJS Demo</title>

    <link href="/Content/demo/bootstrap-v4.4.1.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("webpack", required: false)
</head>
<body>
    @RenderBody()

    <script src="/Scripts/demo/modernizr-v2.8.3.js" type="text/javascript" />
    <script src="/Scripts/demo/jquery-3.4.1.min.js" type="text/javascript" />
    <script src="/Scripts/demo/bootstrap-v4.4.1.min.js" type="text/javascript" />
    @RenderSection("scripts", required: false)
</body>
</html>
