<template>
    <div>
        <h1>¡¡#Aguante VueJS!! Matu</h1>
        <button
            id="show-modal"
            class="btn btn-danger"
            @click="showModal = true"
        >
            Show Modal
        </button>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <!-- You can use custom content here to overwrite default content -->
            <h3 slot="header">
                custom header
            </h3>
        </modal>
    </div>
</template>

<script>
import Modal from './components/Modal.vue'

export default {
    name: 'App',
    components: {
        Modal,
    },
    data() {
        return {
            showModal: false,
        }
    },
}
</script>

<style lang="scss" scoped>
.matu {
    color: black;
}
</style>